.git
.gitignore
.idea
.vscode
.env
.envs/*
!.envs/.django
!.envs/.postgres

.pytest_cache
.coverage
htmlcov
coverage.xml

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

node_modules/

media/
static/

logs/
*.log
